<div class="jumbotron">
  <h5>Ko smo mi?</h5>
    <p>
      Angazovani profesori su studenti, diplomci i profesionalci iz oblasti.
      Iza sebe imamo zadovolji studente i rezultate u vidu polozenih ispita
      i odlicnih ocena na domacim!
    </p>
  <h5>Sta radimo?</h5>
    <p>
      Brzo i efikasno pronalazimo rupe u znanju, objasnjavamo sustinu i na 
      koncizan i metodican objasnjavamo poentu. Dajemo domace u skladu sa ciljevima klijenta.
    </p>
  <h5>Kako radimo?</h5>
  <p>
    U opustenoj atmosferi rad i ucenje su efikasniji. Casovi se rade kod profesora kuci
    na prosledjenoj adresi. Casovi traju <strong>90min</strong>.
  </p>
  <h5>Cijena</h5>
  <p>
    Za studente: 1500 rsd po casu
    <br>
    Domaci i projekti: u zavisnosti od obima
    <br>
    Za ostale: 20 eur po casu

  </p>
  <h5>Ko ste Vi?</h5>
  <p>
    Svako ko zeli otvoren pristup sa predavacem, profesionalno usavrsavanje ili preorijentaciju,
    razjasnjene nedoumice, ubrzan kurs, pomoc u izradi projekata je na pravom mjestu.
  </p>
  <p>
    Radi sto boljeg pruzenog kvaliteta veoma je pozeljno da ukoliko nismo vec upoznati
    sa sadrzajem vaseg zanimanja materijale za rad pripremite za dostavu prilikom
    kontaktiranja. Od studijskih programa upoznati smo sa programima 
    <strong>
      ETF-a, PMF-a i slicnim
    </strong> programima.
  </p>
</div>

