<div class="col-xs-12 list-group">
  <a class="list-group-item list-group-item-action"
    *ngFor="let cas of casovi"
    [routerLink]="['/', cas.url]"
    (click)="casService.selectCas(cas)"
  >
    <div class="float-left">
      <h4 class="list-group-heading">{{ cas.name }}</h4>
      <!-- <p class="list-group-text"> Test text</p> -->
    </div>
    <span class="float-right">
      <img
        src="{{ cas.image }}"
        alt="{{ cas.name }}"
        class="img-fluid"
        style="max-height: 50px"
      >
    </span>
  </a>
</div>
