<div class="container-fluid">
  <div class="container">
      <div style='position: relative'>
          <img 
              src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/MPaEbz-/videoblocks-tilt-down-of-hackers-cracking-code-in-office-at-night-two-man-and-woman-working-together-in-team_soesdq0zgw_thumbnail-full01.png" 
              alt="background image" 
              class="img-fluid" 
              >
          <app-fora style="position: absolute; bottom: 0; left: 0; width: 100%;"></app-fora>
      </div>
      <div class="row">
          <app-about></app-about>
      </div>
      <div class="display-3" style="color: white;">DRZIMO CASOVE IZ</div>
      <hr>
      <app-cas></app-cas>
  </div>
</div>